<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
	<meta name="theme-color" content="#5786C7">
	<title>{{title}}</title>
	<link rel="icon" sizes="32x32" href="/img/iftFavicon.png">
</head>