{{!-- <div class="nav-trigger-wrapper">
	<button class="button button__nav-trigger" id="navTrigger">
		<span>Menu</span><span><svg class="" viewBox="0 0 32 32"><use xlink:href="#iconClose"/></svg></span>
	</button>
</div>
<nav id="navMain" class="navMain contained">
	<ul class="navMain__list">
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>Register</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Registration</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Why IFT?</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Tips for Attending</span></a></li>
			</ul>
		</li>
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>Sessions</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Sessions</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>IFT Next</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Highlights</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Posters</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Courses</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Calls for Proposals</span></a></li>
			</ul>
		</li>
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>Hotel &amp; Travel</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Hotels</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Travel</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Venue</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Global Travellers</span></a></li>
			</ul>
		</li>
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>Food Expo</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Exhibitors</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Highlights</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Secure Your Stand</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Promotional Opportunities</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>For Exhibitors</span></a></li>
			</ul>
		</li>
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>Schedule &amp; Events</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list ">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Schedule</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Fun Run</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Competitions</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Awards</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Future Dates &amp; Locations</span></a></li>				
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Career Center Live</span></a></li>
			</ul>
		</li>
		<li class="navMain__listItem"><a class="navMain__link" href=""><span>News</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="navMain__list">
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>News</span></a></li>
				<li class="navMain__listItem"><a class="navMain__link" href=""><span>Press</span></a></li>
			</ul>
		</li>

		<!--additional buttons as needed by UI -->
		<!--<div class="nav-level-2-close-button__wrapper">
			<button id="navLevel2CloseButton" class="nav-level-2-close__button"><span>Close</span><svg class="" viewBox="0 0 32 32"><use xlink:href="#iconClose"/></svg></button>
		</div>-->
	</ul>
</nav> --}}