{{#> ../templates/generic_page_template
	title="Pattern Library"
}}

<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
<script>
var clipboard = new Clipboard('.copyButton');
</script>
<style>

article {
	position: relative;
}
pre {
	background: #ddd;
	
	color:#000;
	font-size:12px;
	font-weight: 500;
	line-height: 1.5;
	width: 100%;
	white-space: pre-wrap;
	padding:0;
	margin: 0;
	border-top:2px solid rgba(0,0,0,.1);
	border-bottom:2px solid rgba(0,0,0,.1);
}

code {
	display: block;
	font-family: 'PT Mono', monospace;
}

.patternLib__section {
	padding-bottom: 2em;
}

.patternLib__codeBlock {
	position: relative;
}

/*.patternLib__codeBlock:before {
	content: '<html>';
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 1rem;
	padding: .25em .5em; 
	background: #53B3E2;
	color: #fff;

}
*/
.copyButton {
	position: absolute;
	right: 0;
	font-family: monospace;
	font-size: 14px;
	transform: translateY(-100%);
	box-shadow: none;
	background: #53B3E2;
	color: #fff;
	border:none;
	padding: .5rem 1rem;


}



</style>

<br>

<article>

{{> ../../../views/_compiledPartials/patternLib_componentListCOMPILED.hbs}}

</article>

<script>
function patternLibFunction(){
	//for demo purposes
	var nodeListOftheSections = document.querySelectorAll('.patternLib__section');
	for(let i=0; i < nodeListOftheSections.length; i++){
		let elementToAdd = document.createElement('div');
		let thisID = nodeListOftheSections[i].id;

		let thisDataClipboardTarget = `#${thisID}_codeBock`;
		//<button class="copyButton" data-clipboard-action="copy" data-clipboard-target="#${theIDtoWrite}">Copy</button>

		elementToAdd.classList.add('patternLib__codeBlock');
		elementToAdd.id = `${thisID}_codeBock`;
		let buttonToAdd = document.createElement('button');
		buttonToAdd.classList.add('copyButton');
		buttonToAdd.setAttribute('data-clipboard-action', 'copy');
		buttonToAdd.setAttribute('data-clipboard-target', thisDataClipboardTarget);
		buttonToAdd.innerHTML = `copy &lt;html&gt;`;


		let cleanedInnerHTMLOfTheSection = nodeListOftheSections[i].innerHTML.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
		let wrappedCleanHTML = `<pre><code>${cleanedInnerHTMLOfTheSection}</code></pre>`;
		elementToAdd.innerHTML = wrappedCleanHTML;
		nodeListOftheSections[i].appendChild(elementToAdd);
		nodeListOftheSections[i].appendChild(buttonToAdd);
		//document.body.appendChild(buttonToAdd);
	}
}

document.addEventListener('DOMContentLoaded', patternLibFunction)

</script>



{{/../templates/generic_page_template}}

<!--A common script needs to copy the code and put it inside that tag