{{#> ../templates/generic_page_template
	title="Pattern Library"
}}

<style>
pre {
	background: #ddd;
	font-family: monospace;
	color:#000;
	font-size:12px;
	width: 100%;
	white-space: pre-wrap;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top:2px solid rgba(0,0,0,.1);
	border-bottom:2px solid rgba(0,0,0,.1);
}

.patternLib__codeBlock {
	position: relative;
}

.patternLib__codeBlock:before {
	content: 'html';
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 1rem;
	padding: .25em .5em; 
	background: #53B3E2;
	color: #fff;
}

</style>

<h1>{{title}}</h1>

<article>
	<section id="accordionPattern" class="patternLib__section">
		{{> ../../components/accordion/accordion
			accordHeadline1="Accordion Headline"
			accordText1="Accordion Text"
		}}
	</section>
</article>


<article>
	<section id="tabsPattern" class="patternLib__section">
		{{> ../../components/tabs/tabs
			tabTitle1="testTabTitle"
			tabText1="Test Tab Content"
		}}
	</section>
</article>


<script>
function patternLibFunction(){
	//for demo purposes
	var nodeListOftheSections = document.querySelectorAll('.patternLib__section');
	
	for(let i=0; i < nodeListOftheSections.length; i++){

		let elementToAdd = document.createElement('div');
		elementToAdd.classList.add('patternLib__codeBlock');
		let cleanedInnerHTMLOfTheSection = nodeListOftheSections[i].innerHTML.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
		let wrappedCleanHTML = `<pre><code>${cleanedInnerHTMLOfTheSection}</code></pre>`

		elementToAdd.innerHTML = wrappedCleanHTML;
		nodeListOftheSections[i].appendChild(elementToAdd);
	}
}

document.addEventListener('DOMContentLoaded', patternLibFunction)

</script>



{{/../templates/generic_page_template}}

<!--A common script needs to copy the code and put it inside that tag