{{#> ../templates/generic_page_template
	title="Pattern Library"
}}

<style>
pre {
	background: #555;
	font-family: monospace;
	color:#ddd;
	font-size:12px;
	width: 100%;
	white-space: pre-wrap;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.patternLib__codeBlock {
	position: relative;
}

.patternLib__codeBlock:before {
	content: 'html';
	display: inline-block;
	font-family: monospace;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 1rem;
	padding: .25em .5em; 
	background: #53B3E2;
	color: #fff;

}

</style>

<h1>{{title}}</h1>

<article>
	<section id="accordionPattern" class="patternLib__section">
		{{> ../../components/accordion/accordion
			accordHeadline1="Accordion Headline"
			accordText1="Accordion Text"
		}}
	</section>

	

</article>


<article>
	<section id="tabsPattern" class="patternLib__section">
		{{> ../../components/tabs/tabs
			tabTitle1="testTabTitle"
			tabText1="Test Tab Content"
		}}
	</section>


	

</article>


<script>




function patternLibInit(){
	//for demo purposes
	var nodeListOftheSections = document.querySelectorAll('.patternLib__section');
	

	// var trueArrayOfTheSections = Array.prototype.slice.call(nodeListOftheSections);
	// trueArrayOfTheSections.map(function(theSection){
	// 	patternLibFunction(theSection);
	// });

	for (let i=0; i < nodeListOftheSections.length; i++){

		//let wrappedInnerHTMLofSection = '<pre><code>' + nodeListOftheSections[i].innerHTML + '</code></pre>';

		let elementToAdd = document.createElement('div');
		//put code inside pre, then reference and fill it
		elementToAdd.classList.add('patternLib__codeBlock');
		let cleanedInnerHTMLOfTheSection = nodeListOftheSections[i].innerHTML.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
		let wrappedCleanHTML = '<pre><code>' + cleanedInnerHTMLOfTheSection + '</code></pre>'

		elementToAdd.innerHTML = wrappedCleanHTML;
		nodeListOftheSections[i].appendChild(elementToAdd);
	}


	// var patternX = document.getElementById('accordionPattern');
	// var patternXinnerHTML = patternX.innerHTML;
	// var patternBox = document.getElementById('patternBox')

	// patternBox.innerHTML = patternXinnerHTML.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');




}

function patternLibFunction(theSection){
	//there is a type error in here somewhere
	// var cloneOfTheSection = theSection.cloneNode('deep');
	// var cloneOfTheSectionString = cloneOfTheSection.toString();
	// var cleanedClone = cloneOfTheSectionString.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
	// console.log(cleanedClone);
	// //trying to put the clone inside stuff
	// var templateElement = document.createElement('code');
	// //need to be confortable manipulaitng this object
	// templateElement.innerHTML = '<pre>' + cloneOfTheSection.children[0] + '</pre>' ;
	// theSection.appendChild(templateElement);
}

document.addEventListener('DOMContentLoaded', patternLibInit)

</script>



{{/../templates/generic_page_template}}

<!--A common script needs to copy the code and put it inside that tag