{{#> ../templates/generic_page_template
	title="Project Page"
	subTitle="list of links"
}}

	<h2>{{subTitle}}!</h2>

	{{> ../../views/_compiledPartials/projectPageListCOMPILED.hbs}}
	
	
{{/../templates/generic_page_template}}