{{#> ../templates/generic_page_template
	title="Data Playground"
	subTitle="Video API stuff"
}}

<h2>{{subTitle}}</h2>


{{> ../../components/videoData/videoData }}



{{/../templates/generic_page_template}}