{{#> ../templates/generic_page_template
	title="Page One"
	subTitle="This Subtitle Rocks"
	imageName="typeB_768x432.jpg"
}}

	<h2>{{subTitle}}</h2>
	
	<img class="b-lazy" data-src="img/contentImg/{{imageName}}" alt="required alt text"/>

	<div class="b-lazy" data-src="img/bgImg/bg_cat3.jpg">
		Background image test
	</div>

	<div style="background-image:url(img/bgImg/bg_cat3.jpg)">
		Background image test 2
	</div>

	{{> ../../components/accordion/accordion
		accordHeadline1="Accord 1 Headline"
		accordText1="Accord 1 Text"
	}}


{{/../templates/generic_page_template}}