{{#> ../templates/generic_page_template
	title="Page Five"
	subTitle="This Subtitle Rocks"
	imageName="typeB_768x432.jpg"
}}

	<h2>{{subTitle}}!</h2>
	

	{{> ../../components/accordion/accordion
		accordHeadline1="Accord 1 Headline"
		accordText1="Accord 1 Text"
	}}


{{/../templates/generic_page_template}}