{{#> ../templates/generic_page_template
	title="Page Two"
	buttonText="Learn More"
	imageName="testImage2.png"
}}
	
	<h1>{{title}}</h1>
	<button>{{buttonText}}</button>

	<img class="b-lazy" data-src="img/contentImg/{{imageName}}" alt="required alt text"/>


	{{> ../../components/tabs/tabs
		tabTitle1="testTabTitle"
		tabText1="Test Tab Content"
	}}
	

{{/../templates/generic_page_template}}