<!-- columns automatically fit all in one row and size themselves evenly -->
Footer
{{!-- <nav class="footer__nav">
    <div class="row">
        <div class="column-auto">
            <header class="footer__nav__links__header">
                <h6 class="footer__nav__links__headline"><span>Register Plus Extra</span></h6>
            </header>
            <ul class="footer__nav__linksList">
                <li class="footer__nav__links__listItem"><a href=""><span>Registration</span></a></li>
                <li class="footer__nav__links__listItem"><a href=""><span>Tips for Attending</span></a></li>
            </ul>
        </div>
        <div class="column-auto">
            <header class="footer__nav__links__header">
                <h6 class="footer__nav__links__headline"><span>Sessions</span></h6>
            </header>
            <ul class="footer__nav__linksList">
                <li class="footer__nav__linksListItem"><a href=""><span>Sessions</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Highlights</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Posters</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Courses</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Calls for Proposals</span></a></li>
            </ul>
        </div>
        <div class="column-auto">
            <header class="footer__nav__links__header">
                <h6 class="footer__nav__links__headline"><span>Hotel &amp; Travel</span></h6>
            </header>
            <ul class="footer__nav__linksList">
                <li class="footer__nav__linksListItem"><a href=""><span>Hotels</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Travel</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Venue</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Global Travellers</span></a></li>
            </ul>
        </div>
        <div class="column-auto">
            <header class="footer__nav__links__header">
                <h6 class="footer__nav__links__headline"><span>Food Expo</span></h6>
            </header>
            <ul class="footer__nav__linksList">
                <li class="footer__nav__linksListItem"><a href=""><span>Exhibitors</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Highlights</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Secure Your Stand</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Promotional Opportunities</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Promotional Opportunities</span></a></li>
            </ul>
        </div>
        <div class="column-auto">
            <header class="footer__nav__links__header">
                <h6 class="footer__nav__links__headline"><span>Schedule &amp; Events</span></h6>
            </header>
            <ul class="footer__nav__linksList">
                <li class="footer__nav__linksListItem"><a href=""><span>Schedule</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Fun Run</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Competitions</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Awards</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Future Dates &amp; Locations</span></a></li>
                <li class="footer__nav__linksListItem"><a href=""><span>Career Center Live</span></a></li>
            </ul>
        </div>
    </div>
</nav> --}}