@import './core/_sass_core/base/reset';
@import './core/_sass_core/mixinsVarsUtils/colors';
@import './core/_sass_core/mixinsVarsUtils/utils';
@import './core/_sass_core/base/grid';
@import './core/_sass_core/base/grid_flexbox';
@import './core/_sass_core/base/typography';

@import './core/_sass_core/base/main';

@import './components/accordion/accordion';
@import './components/tabs/tabs';
@import './components/navMain/navMain';