
<div class="bfAccordion__outermost">
	<section>
		{{#if accordHeadline1}}<h3>{{accordHeadline1}}</h3>
  		{{else}}<h3>Accordion Headline</h3>
  		{{/if}}
	</section>
	<section>
		{{#if accordText1}}{{accordText1}}
		{{else}}<p>Accordion Text</p>
  		{{/if}}
	</section>
</div>